In [174]:
print("The name of the company is Cars Ltd.")
print("The year the company was established is 1996")

The name of the company is Cars Ltd.
The year the company was established is 1996

In [175]:
print("The total turnover of the company in million $ is 12.5")

The total turnover of the company in million $ is 12.5

In [176]:
print("My name is Jasmin")

My name is Jasmin

In [177]:
print("I have 2 years 3 months of teaching experience")

I have 2 years 3 months of teaching experience

In [178]:
year_started=2014
year_graduated=2016
percentage_of_marks=69.9
degree_obtained="MA Economics"
print('My degree ', degree_obtained, 'started in', year_started,',got completed in', year_graduated,'and I received ',percentage_of_marks,'%.')
print('The type of degree_obtained is',type(degree_obtained),'. The type of year_started and year_graduated is',type(year_started),type(year_graduated),'respectively. The type of degree_obtained is',type(degree_obtained))

My degree  MA Economics started in 2014 ,got completed in 2016 and I received  69.9 %.
The type of degree_obtained is <class 'str'> . The type of year_started and year_graduated is <class 'int'> <class 'int'> respectively. The type of degree_obtained is <class 'str'>

In [179]:
print('The type of percentage_of_marks is',type(percentage_of_marks))

The type of percentage_of_marks is <class 'float'>

In [180]:
Cars = 5
Price_per_car= 10
Price_final=Cars*Price_per_car
print(Price_final)

50

Price to be paid in installments in 10 years

In [181]:
Price_per_year=Price_final/10
print(Price_per_year)

5.0

List Data Structure
Names of students in class

In [182]:
roll_1="Akanksha"
roll_2="Babita"
roll_3="Chahak"
roll_4="Jasmin"
roll_5="Navita"
print(roll_1,roll_2,roll_3,roll_4,roll_5)

Akanksha Babita Chahak Jasmin Navita

Instead of naming many variables, we can have a list. A list is a type of data structure which works in place of n number of variables.

In [183]:
students_names=["Akanksha","Babita","Chahak","Jasmin","Navita"]
print("List of names of students is as follows",students_names)
print("type of students_name is",type(students_names))

List of names of students is as follows ['Akanksha', 'Babita', 'Chahak', 'Jasmin', 'Navita']
type of students_name is <class 'list'>

How to remove value from list and append value

In [184]:
students_names.remove("Navita")
print(students_names)

['Akanksha', 'Babita', 'Chahak', 'Jasmin']

Append value to list

In [185]:
students_names.append("Naina")
print(students_names)

['Akanksha', 'Babita', 'Chahak', 'Jasmin', 'Naina']

In [186]:

print(students_names)
print(students_names[1])

['Akanksha', 'Babita', 'Chahak', 'Jasmin', 'Naina']
Babita

In [187]:
print(students_names[0])

Akanksha

In [188]:
students_names.insert(3,"Charvi")
print(students_names)
print(students_names[-2])
print(students_names)

['Akanksha', 'Babita', 'Chahak', 'Charvi', 'Jasmin', 'Naina']
Jasmin
['Akanksha', 'Babita', 'Chahak', 'Charvi', 'Jasmin', 'Naina']

Remove last element using negative indexing

In [189]:
students_names.remove(students_names[-1])
print(students_names)
print("Number of students in class",len(students_names),".Type of students_names is",type(students_names))

['Akanksha', 'Babita', 'Chahak', 'Charvi', 'Jasmin']
Number of students in class 5 .Type of students_names is <class 'list'>

print range

Can store data in Google Drive
input function stores strings
How to convert

In [190]:
number_1=input("enter first number:")
number_2=input("enter second number:")
sum=number_1+number_2
print(sum)

enter first number:1
enter second number:1
11

Convert data type string to integer

In [191]:
number_1=int(number_1)
number_2=int(number_2)
sum=number_1+number_2
print(sum)

2

List can have elements of different types

In [192]:
students_names.append("Zoya")
students_names.append(54)
students_names.append([32,54])
print(students_names)

['Akanksha', 'Babita', 'Chahak', 'Charvi', 'Jasmin', 'Zoya', 54, [32, 54]]

print range

Tuples, Dictionary, conditional statements. Tuples are like lists but they are immutable. Cannot be changed later. Example:append function doesn't work in them.
syntax of tuple is {}

In [193]:
students_names=("Akanksha","Babita","Chahak","Charvi","Naina")
print(students_names, "type of students_names is :", type(students_names))

('Akanksha', 'Babita', 'Chahak', 'Charvi', 'Naina') type of students_names is : <class 'tuple'>

In [194]:
print(students_names[-1])

Naina

Now working with dictionary type of Data Structure,. Syntax: Use curly brackets {}

In [195]:
new_dict={"names":students_names, "city":["Delhi","Bengaluru","Chennai"],"climate":["temperate"]}
print(new_dict)
print(new_dict.keys(),new_dict.values())
print(new_dict.keys())

{'names': ('Akanksha', 'Babita', 'Chahak', 'Charvi', 'Naina'), 'city': ['Delhi', 'Bengaluru', 'Chennai'], 'climate': ['temperate']}
dict_keys(['names', 'city', 'climate']) dict_values([('Akanksha', 'Babita', 'Chahak', 'Charvi', 'Naina'), ['Delhi', 'Bengaluru', 'Chennai'], ['temperate']])
dict_keys(['names', 'city', 'climate'])

Modify value

In [196]:

initial=new_dict["climate"].append("Tarun")
print(initial)

None

In [197]:

print(new_dict.values())
print(new_dict)

dict_values([('Akanksha', 'Babita', 'Chahak', 'Charvi', 'Naina'), ['Delhi', 'Bengaluru', 'Chennai'], ['temperate', 'Tarun']])
{'names': ('Akanksha', 'Babita', 'Chahak', 'Charvi', 'Naina'), 'city': ['Delhi', 'Bengaluru', 'Chennai'], 'climate': ['temperate', 'Tarun']}

In [198]:
new_dict.pop("climate")
print(new_dict)

{'names': ('Akanksha', 'Babita', 'Chahak', 'Charvi', 'Naina'), 'city': ['Delhi', 'Bengaluru', 'Chennai']}

Conditional Statement

In [199]:
cars_ratings = {"Santro":32,"Xylo":45,"Toofanmail":100,"Shatabdi":60}
rating=cars_ratings.values()
print(rating)

print(type(rating))

dict_values([32, 45, 100, 60])
<class 'dict_values'>

function which converts ratings-dictionary values data structure to list data structure

In [200]:
rating=list(rating)
print("list of ratings",rating)
print("type of rating data structure",type(rating))
cars=cars_ratings.keys()
print(type(cars))
car=list(cars)
print(type(car))

list of ratings [32, 45, 100, 60]
type of rating data structure <class 'list'>
<class 'dict_keys'>
<class 'list'>

In [201]:
print(cars_ratings)
length=len(car)
print(length)
print(car)
print(range(length))
print(car)
for i in range(length):
  if rating[i] >50:
    print(car[i], "car has rating above 50",i)
  elif rating[i] <50:
    print(car[i], "car has rating below 50",i)
  else :
    print(car[i],"car has rating of 50",i)
print("whole dictionary",cars_ratings)

{'Santro': 32, 'Xylo': 45, 'Toofanmail': 100, 'Shatabdi': 60}
4
['Santro', 'Xylo', 'Toofanmail', 'Shatabdi']
range(0, 4)
['Santro', 'Xylo', 'Toofanmail', 'Shatabdi']
Santro car has rating below 50 0
Xylo car has rating below 50 1
Toofanmail car has rating above 50 2
Shatabdi car has rating above 50 3
whole dictionary {'Santro': 32, 'Xylo': 45, 'Toofanmail': 100, 'Shatabdi': 60}

How to use f"{}- print in common language including variables format inf string.
This is called an f string or a formatting string

In [202]:
print(cars_ratings)
length=len(car)
print(length)
print(car)
print(range(length))
print(car)
for i in range(length):
  if rating[i] >50:
    print(f"{car[i]} car has rating above 50 {i}")
  elif rating[i] <50:
    print(f"{car[i]} car has rating below 50 {i}")
  else :
    print(f"{car[i]} car has rating of 5 {i}")
print("whole dictionary",cars_ratings)

{'Santro': 32, 'Xylo': 45, 'Toofanmail': 100, 'Shatabdi': 60}
4
['Santro', 'Xylo', 'Toofanmail', 'Shatabdi']
range(0, 4)
['Santro', 'Xylo', 'Toofanmail', 'Shatabdi']
Santro car has rating below 50 0
Xylo car has rating below 50 1
Toofanmail car has rating above 50 2
Shatabdi car has rating above 50 3
whole dictionary {'Santro': 32, 'Xylo': 45, 'Toofanmail': 100, 'Shatabdi': 60}

For if loop. Body of for loop separated from rest of code using indentation

In [203]:
print(car)
print(cars_ratings)
print(rating)

['Santro', 'Xylo', 'Toofanmail', 'Shatabdi']
{'Santro': 32, 'Xylo': 45, 'Toofanmail': 100, 'Shatabdi': 60}
[32, 45, 100, 60]

In [204]:
for ca in car:
  if cars_ratings[ca] >50:
    print(f"{ca} car has rating above 50")
  elif cars_ratings[ca] <50:
    print(f"{ca} car has rating below 50")
  else:
    pass
    print(f"{ca} car has rating of 50")

Santro car has rating below 50
Xylo car has rating below 50
Toofanmail car has rating above 50
Shatabdi car has rating above 50

Defining functions

In [205]:
def sum_of_numbers(num1,num2,num3,num4):
  sum=num1+num2+num3+num4
  return sum
  print("sum of numbers",sum)

Defining function with unknown number of arguments

In [206]:


def sum_of_numbers(*args):
  sum=0
  for i in args:
    sum=sum+i
  return sum

args and kwargs-arguments and keyword arguments- *args helps us remove the constraint on positional arguments- *kwargs helps us remove the constraint on keyword arguments - keyword arguments(with default values must follow positional arguments or the function won't work)

In [207]:
def sum_of_numbers(*prices, discount=0.0,**kwargs):
  sum=0
  for price in prices:
    sum+=sum+price

  prefinal_price=sum-(sum*discount)

  net_spend=prefinal_price-kwargs("cashback")
  return net_spend

additionals={"cashback":5}

List comprehensions in Python

In [208]:
discounted_price=[]
for i in range(10):
  discounted_price.append(i-(5*i/100))
print(discounted_price)

[0.0, 0.95, 1.9, 2.85, 3.8, 4.75, 5.7, 6.65, 7.6, 8.55]

In [209]:

discounted_price=[i-(5*i/100)  for i in range(10)]
print(discounted_price)

[0.0, 0.95, 1.9, 2.85, 3.8, 4.75, 5.7, 6.65, 7.6, 8.55]

In [210]:
budget=()
in_budget=["Yes" if  discounted_price[i]<=5 else "No" for i in range(10)]
print(in_budget)

['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No']

In [211]:
within_budget=[]
for i in range(10):
  if discounted_price[i]<=5:
    within_budget.append("Yes")
  else:
    within_budget.append("No")
print(within_budget)

['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No']

*functions*

In [212]:
def display_iphone_features(**kwargs):

    print(kwargs.items())

    for key, value in kwargs.items():
      print(f"Apple IPhone {key} is {value}")

In [213]:
sample={"model":10,"battery":"10000mAh","price":100000}
display_iphone_features(**sample)

dict_items([('model', 10), ('battery', '10000mAh'), ('price', 100000)])
Apple IPhone model is 10
Apple IPhone battery is 10000mAh
Apple IPhone price is 100000

with positional arguments

In [214]:
def display_attributes(model,battery,price):
  print(f"Apple IPhone {model} is {battery} and price is {price}")
def disc_price(price):
  return price-(5*price/100)
disc_price(10)

9.5

lambda functions when you don't wanna define your own function, you have a small operation to do

In [215]:
discount_price= lambda discount: 100-(discount*100/100)
print(discount_price(5))

95.0